{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block title %}
  Password updated
{% endblock %}

{% block content %}
  <div class="container auth-wrap">
    <div class="auth-card">
      <h1>Password updated</h1>
      <p class="helper-text">Your password has been reset. You can now sign in.</p>
      <a class="btn btn-primary w-100" href="{% url 'login' %}">Go to login</a>
    </div>
  </div>
{% endblock %}
